.proyects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container-proyect-preview .image-proyect-prev {
    height: 50%;
    width: 50%;
  }
}

.proy-description {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media(max-width: 800px){
  .proyects-container .container-proyect-preview .image-proyect-prev {
    height: 80%;
    width: 80%;
  }
}
