#form-container{
    margin-top: 5rem;
    #form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        width: 85%;
        padding: 2rem 4rem;
        .form{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            div{
                width: 100%;
            }
            button{
                margin-top: 2rem;
            }
        }
    }
}
.form-control{
    color: #333 !important;
    .MuiFormLabel-root{
        color: #333 !important;
    }
}