@import "../../assets/scss/breakpoints.scss";

.footer {
  min-height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .reach__out__me {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;

    & > p {
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
    .social__icons {
      display: flex;
      width: 35%;
      justify-content: space-around;
      flex-direction: row;
      margin: 0 auto;
      margin-bottom: 1rem;
      svg {
        border-radius: 50%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        font-size: 2.7rem;
        color: #ccc;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    p {
      font-size: 1.3rem;
    }
  }
}
@media screen and (max-width: $medium) {
  .footer {
    min-height: 50vh;
    .reach__out__me {
      .social__icons {
        width: 100%;
      }
    }
  }
}
