.container-proyect-preview {
  height: 100%;
  padding: 20px 10px;
  .image-proyect-prev {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    // object-fit: cover;
    // object-position: 20% 10%;
    margin-top: -10%;
    margin-bottom: -10%;
  }
  span {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  button {
    display: block;
    margin: 25px auto;
  }
  h3 {
    text-align: center;
  }
}
